{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="main">
            <article>
                <p><h2>{{ blog.title }}</h2></p>
                <p class="mdata ">{{ blog.users.username }} - {{ blog.createdAt|date }}</p>
                <p>{{ blog.content }}</p>
            </article>


        </div>
    </div>
{% endblock %}